@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Objection</h3>
    <p>The main objective is to ensure the necessary blood and blood components used for therapeutic purposes, 
        obtained under conditions of maximum security for both the donor and the receiving patient.</p>
    <h3>Activity</h3>
    <p>
        
        The main activities of Blood Transfusion Center are: collection, processing, biological 
        control, storage, distribution and transport of blood and blood components.

        The Blood Transfusion Center is subordinated to INHT and the Ministry of Health.

        The law that regulates blood donation is Law no. 282 / 2005 and its subsequent additions.
    </p>
</div>
